<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% block title %}
  {% endblock %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'beafs/css/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'main/style2.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'main/includes/search/style.css' %}" type="text/css">
  {%block style%}
  {%endblock%}
</head>

<body>
  <header>
    <nav>
      <ul>
        <li id="logo"><a href="{% url 'main:story' prof.pk %}">beafs</a></li>
        <li class="right-menu"><a href="{% url 'entry:log_in'%}">log out</a></li>
        <li class="right-menu"><a href="{% url 'main:profile' prof.pk %}">profile</a></li>
        <li class="right-menu"><a href="{% url 'main:music' prof.pk %}">music</a></li>
      </ul>
    </nav>
    <!--{% include "main/includes/search.html" %}-->
  </header>

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  {% block player %}
  {% endblock %}

  {% block footer %}
  {% endblock %}

</body>

</html>
